.highlight-red {
    background-color: red;
    color: white;
}

.highlight-yellow {
    background-color: yellow;
    color: black;
}

.highlight-green {
    background-color: green;
    color: white;
}